
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OoT Bingo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body style="display:flex;flex-direction:column;align-items:center">
    <table class="bingo bingo-element">
		<tr>
			<td id="tlbr" class="header tlbr">TL-BR</td>
      <% for (var i = 0; i < size; i++) { %>
			<td id="col<%= i %>" class="header col<%= i %>">COL<%= i + 1 %></td>
      <% } %>
		</tr>
    <% for (var i = 0; i < size; i++) { %>
    <tr>
      <td id="row<%= i %>" class="header row<%= i %>">ROW<%= i + 1 %></td>
      <% for (var j = 0; j < size; j++) { %>
      <td id="square<%= i * size + j %>" class="square row<%= i %> col<%= j %> <%= i === j ? "tlbr" : "" %> <%= i === size - 1 - j ? "bltr" : "" %>"><%= board[i * size + j + 1] %></td>
      <% } %>
    </tr>
    <% } %>
		<tr>
			<td id="bltr" class="header bltr">BL-TR</td>
		</tr>
</table><div class="bingo-info" style="display: inline-block">

  <p class="small">If popouts don't work, turn off your popup blocker.</p>
  <p class="small">BANNED TECHNIQUES: Deku Stick on B as adult, Hold R, GIM</p>
  <p></p>
  <p class="small">Beat Jabu-Jabu's Belly (no damage): If you take damage inside Jabu-Jabu's Belly, you must reset to your last save</p>
  <p class="small">Finish with no shields: In order to finish your row, you must have no shields in your equipment screen</p>
  <p class="small">Get to the end of any trial: You don't need to finish the trial by shooting a light arrow</p>
  <p class="small">Get Fairy Bow with Iron Boots equipped: You must have Iron Boots equipped the entire time you are in the Forest Temple</p>
  <p class="small">Beat the Fire Temple no Goron Tunic: You must not have Goron Tunic equipped at any time in the Fire Temple.  You may get the Goron Tunic and use it elsewhere</p>
  <p class="small">8 unique unused keys in GTG (no damage): If you take damage inside Gerudo Training Grounds, you must reset to your last save</p>
  <p class="small">Defeat 4 Bosses: "Bosses" include only Gohma, King Dodongo, Barinade, Phantom Ganon, Volvagia, Morpha, Bongo-Bongo, and Twinrova</p>
  <p class="small">Beat the Shadow Temple no Hover Boots: You must not have Hover Boots equipped at any time in the Shadow Temple.  You may get the Hover Boots and use them elsewhere</p>
  <p class="small">Break 6 walls in Dodongo's Cavern using Blue Fire: You may break walls by other means, but they do not count towards your 6</p>

</div>

<script src="js/bingo-board.js"></script>

</body>
</html>
